fish/z/lua*
fish/fish_variables
git/gitk
vim/bundle/*
autoLoad.fish
cdda.fish
ColdHand.fish
dimentions.fish
eagle.fish
eqnHELP.fish
groffMS.fish
guirlande.fish
muteMic.fish
puredata~.fish
PyPlay.fish
raspail.fish
soulseek.fish
stm32cube.fish
update.fish
upgrb.fish
WarmHand.fish
